{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SABIN / Login{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <br>
        <h2 align='center'>Sistema Automatizado de Benefícios do INSS</h2>
        <hr>
        <h4>Tecnologia a favor da previdência!</h4>
        <p align='justify'>
          Este projeto foca na automatização e padronização de processos administrativos por meio de robôs de software, especialmente Robotic Process Automation (RPA), que executam tarefas repetitivas e propensas a erros humanos em sistemas informatizados. O contexto de aplicação envolve processos do Instituto Nacional do Seguro Social (INSS), que incluem subprocessos manuais de análise e despacho de benefícios, como aposentadorias, auxílios e pensões. Esses subprocessos são atualmente realizados por funcionários servidores e estão sujeitos a falhas. A proposta justifica-se pela necessidade de reduzir erros e tornar o fluxo mais eficiente, eliminando atividades manuais repetitivas. O objetivo é projetar e implementar um sistema que automatize e padronize as tarefas de despacho e notificação aos segurados, melhorando a gestão de benefícios do INSS.
        </p>
        <p align="justify">
          Resultado do <a href='https://tfgonline.lapinf.ufn.edu.br/' target='__blank'> Trabalho de Conclusão de Curso</a> em <a href="https://site.ufn.edu.br/pagina/ciencia-da-computacao" target="__blank"> Ciência da Computação</a> com parceria do <a href="https://www.lapinf.ufn.edu.br" target="__blank">Laboratório de Práticas UFN</a> e <a href='https://www.gov.br/inss/pt-br/' target='blank'>INSS </a>.
        </p>
        <hr>
        <h4>Como funciona?</h4>
          <ol>
            <li>Cadastro De benefícios: O servidor cadastra um novo benefício que está em manutenção;</li>
            <li>Coleta de Dados:coleta da documentação relacionada ao benefício,Todos os documentos são organizados automaticamente pelo sistema;</li>
            <li>Criação de Despachos:O sistema cria o despacho padrão com base nas informações fornecidas;</li>
          </ol>
          
          <p>
          O SABIN vem para reduziu o tempo dos processos, diminuindo a carga dos servidores e aumentando a eficiência e precisão dos despachos. 
          </p>
          <hr>
          <p align='center'>
            <span class="badge badge-default"> Contate g.painko@ufn.edu.br para informações.</span>
            {% comment %} <a class="btn btn-info" style="width:100%;" href="mailto:g.painko@ufn.edu.br?subject=Assunto do email&bcc=g.painko@ufn.edu.br&body=Conteúdo do email ...">{% bootstrap_icon 'glyphicon glyphicon-envelope' %} Para mais informações contate g.painko@ufn.edu.br</a> {% endcomment %}
          </p>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        {% comment %} <div class="col-sm-6 col-md-4 col-md-offset-4"> {% endcomment %}
            <div class="text-center">
              <br> 
              <img src="{% static 'core/img/SABIN.png' %}"
                   class="img-fluid" style="max-width: 230px;">                            
            </div>  
            <br>
              <div class="account-wall">
                <form class="form-signin" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <span class="clearfix"></span>
                <p style="text-align:center;">
                  <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                    {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
                  </button>
                </p>
                <p style="text-align:center;">
                  <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
                  <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
                </p>
                </form>
              </div>
              <br>
              <div class="text-center">
                <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
                  style="width: 140px;"></a>   
                  
                  {% comment %} <a href="http://erclinic.com.br/" target="_blank"><img src="{% static 'core/img/logoERClinic.png' %}"
                    style="width: 50px;"></a>                           {% endcomment %}
              </div>
              <div align="center">
                <hr>
                <p>Todos os direitos reservados | Desde 2025.</p>
            </div>
        </div>
    </div>
{% endblock %}
