<h3>Projeto realizado em parceria entre o Curso de Ciência da Computação, o Laboratório de Práticas da Computação da Universidade Franciscana (UFN) e o Instituto Nacional do Seguro Social (INSS).</h3>
<h4>Versão:</h4>
<ul>
	<li>1.0 de Junho de 2025</li>	
</ul>
<h4>Apoio:</h4>
<ul>
	<li>Universidade Franciscana</li>
</ul>
<h4>
	Colaboradores:
</h4>
<ul> 
	<li><strong>UFN</strong></li>
		<ul>
			<li>Professores:</li>
			<ul>
				<li>Alexandre Zamberlan - orientador do projeto e membro do Laboratório de Práticas da Computação</li>
				<li>Ana Paula Canal - coordenadora do curso de Ciência da Computação</li>
				<li>Sylvio André Garcia Vieira - coordenador do Laboratório de Práticas da Computação</li>
			</ul>
			<br>
			<li>Aluno</li>
			<ul>				
				<li>Guilherme Scalcon - Trabalho de Conclusão de Curso - Ciência da Computação</li>				
			</ul>
		</ul>
	{% comment %} <li><strong>Parceiro</strong>: <a href="https://www.linkedin.com/in/guilhermechagaskurtz/" target="__blank">Guilherme Chagas Kurtz</a></li>	 {% endcomment %}
</ul>
